@font-face {
    font-family: bob;
    src: url('../fonts/bobFont.ttf');
}

@font-face {
    font-family: bob2;
    src: url('../fonts/bobFont2.ttf');
}

body {
    width: 100%;
    text-align: center;
    background-image: url(/assets/img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: bob;
    font-size: 60px;
}

h2 {
    font-family: bob2;
    text-align: center;
    font-size: 2.5em;
}

li {
    color: rgb(27, 27, 27);
}

footer {
    font-size: 0.90em;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(214, 209, 209);
}

.main {
    margin-top: 5%;
}

.bOrders,
.bReady {
    text-align: left;
}

.card-header {
    background-color: rgba(236, 236, 236, 0.781);
}